//Fuentes

$poppins: 'Poppins', sans-serif;

$script:'Kaushan Script', cursive;

//Tamaños

//Margenes

//Colores

$bg-primary: #FAFAFA;
$color: rgb(0, 239, 183);
$degradado:linear-gradient(0deg, rgba(0,239,183,1) 10%, rgba(40,139,232,0) 82%) ;